
<ion-content>
  <ion-card *ngIf="bike">
    <ion-card-header>
      <div class="img-container">
        <img src="{{bike.imgUrl}}" />
      </div>
      <ion-card-subtitle>{{bike.price | currency:clp}}</ion-card-subtitle>
      <ion-card-title>{{bike.nameBike}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{bike.description}}</p>
    </ion-card-content>
    <ion-card-content>
      <ion-button (click)="addCart()" class="btn-buy" expand="block" fill="solid" shape="round">
        <a style="color: #1C1B1B; text-decoration: none;" [routerLink]="['/home', bike.id]">Agregar al carro</a>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>