<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">MASTERBIKES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">REGISTRO</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <div class="validation-error">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div *ngIf="
                  registerForm.get('name').hasError(validation.type) &&
                  (registerForm.get('name').dirty ||
                  registerForm.get('name').touched)
            ">
              <p style="color: red">{{validation.message}}</p>
            </div>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="lastname"></ion-input>
        </ion-item>
        <div class="validation-error">
          <ng-container *ngFor="let validation of validation_messages.lastname">
            <div *ngIf="
                  registerForm.get('lastname').hasError(validation.type) &&
                  (registerForm.get('lastname').dirty ||
                  registerForm.get('lastname').touched)
            ">
              <p style="color: red">{{validation.message}}</p>
            </div>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-error">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div *ngIf="
                  registerForm.get('email').hasError(validation.type) &&
                  (registerForm.get('email').dirty ||
                  registerForm.get('email').touched)
            ">
              <p style="color: red">{{validation.message}}</p>
            </div>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-error">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div *ngIf="
                  registerForm.get('password').hasError(validation.type) &&
                  (registerForm.get('password').dirty ||
                  registerForm.get('password').touched)
            ">
              <p style="color: red">{{validation.message}}</p>
            </div>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input formControlName="username"></ion-input>
        </ion-item>
        <div class="validation-error">
          <ng-container *ngFor="let validation of validation_messages.username">
            <div *ngIf="
                  registerForm.get('username').hasError(validation.type) &&
                  (registerForm.get('username').dirty ||
                  registerForm.get('username').touched)
            ">
              <p style="color: red">{{validation.message}}</p>
            </div>
          </ng-container>
        </div>
        <ion-button type="submit" expand="block" fill="solid" shape="round" class="btn-registro" [disabled]="!registerForm">
          REGISTRARSE
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
