ion-title {
  padding: 40px 0 30px 0;
  color: #1C1B1B;
  font-weight: bold;
}
.btn-inicio-sesion {
  --background: var(--btn-color);
  color: #1C1B1B;
}
.cambio-contrasena {
  font-size: 16px;
}
.cambio-contrasena a {
  color: var(--btn-color);
}
.btn-register {
  --border-color: var(--btn-color);
  --color: var(--btn-color)
}
